aiofiles==22.1.0
aiohttp==3.8.6
aioredis==2.0.1
aiosignal==1.3.1
aiosmtplib==2.0.2
aiosqlite==0.19.0
alembic==1.12.0
amocrm-api==2.5.0
amqp==5.2.0
annotated-types==0.5.0
anyio==3.7.1
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgi-lifespan==2.1.0
asgiref==3.7.2
asttokens==2.2.1
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.3
asyncpg==0.28.0
attrs==23.1.0
Authlib==1.2.1
Babel==2.11.0
backcall==0.2.0
bcrypt==4.0.1
beautifulsoup4==4.12.3
billiard==4.2.0
bleach==6.0.0
blinker==1.7.0
bootstrap4==0.1.0
bs4==0.0.2
CacheControl==0.14.0
cachetools==5.3.3
celery==5.3.6
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
comm==0.1.2
crispy-bootstrap4==2023.1
cryptography==41.0.4
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.6
dj-database-url==1.2.0
Django==5.0
django-bootstrap4==22.3
django-celery-results==2.5.1
django-cors-headers==4.3.1
django-crispy-forms==2.1
django-phonenumber-field==7.0.2
django-rest-framework==0.1.0
django_debug_toolbar==3.8.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
djongo==1.3.6
dnspython==2.4.2
docker==6.0.1
docutils==0.20.1
dominate==2.7.0
drf-yasg==1.21.7
ecdsa==0.18.0
email-validator==2.0.0.post2
et-xmlfile==1.1.0
exceptiongroup==1.1.3
executing==1.2.0
fastapi==0.103.1
fastapi-mail==1.4.1
fastapi-sessions==0.3.2
fastjsonschema==2.16.2
filelock==3.9.0
firebase-admin==6.4.0
Flask==2.2.2
Flask-Bootstrap==3.3.7.1
Flask-SQLAlchemy==3.0.2
Flask-WTF==1.0.1
fqdn==1.5.1
frozenlist==1.4.0
google-api-core==2.17.1
google-api-python-client==2.120.0
google-auth==2.28.1
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.15.0
google-cloud-storage==2.14.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.62.0
greenlet==2.0.2
grpcio==1.62.0
grpcio-status==1.62.0
gunicorn==21.2.0
h11==0.14.0
hiredis==2.2.3
httpcore==0.18.0
httplib2==0.22.0
httptools==0.6.0
httpx==0.25.0
idna==3.4
importlib-metadata==7.0.1
inflection==0.5.1
iniconfig==2.0.0
ipykernel==6.21.1
ipython==8.9.0
ipython-genutils==0.2.0
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
json5==0.9.11
jsonpointer==2.3
jsonschema==4.17.3
jupyter-events==0.5.0
jupyter-ydoc==0.2.2
jupyter_client==8.0.2
jupyter_core==5.2.0
jupyter_server==2.2.1
jupyter_server_fileid==0.6.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.6.1
jupyterlab==3.6.1
jupyterlab-pygments==0.2.2
jupyterlab_server==2.19.0
kombu==5.3.5
lxml==4.9.3
makefun==1.15.1
Mako==1.2.4
MarkupSafe==2.1.3
matplotlib-inline==0.1.6
mistune==2.0.5
more-itertools==9.1.0
msgpack==1.0.8
multidict==6.0.4
nbclassic==0.5.1
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
nose==1.3.7
notebook==6.5.2
notebook_shim==0.2.2
numpy==1.23.4
openpyxl==3.1.2
outcome==1.2.0
packaging==23.2
pages==0.3
pandas==1.5.0
pandocfilters==1.5.0
parso==0.8.3
passlib==1.7.4
pexpect==4.8.0
phonenumbers==8.13.7
phonenumberslite==8.13.7
pickleshare==0.7.5
piglet-templates==1.3.0
pillow==10.2.0
pipenv==2022.12.19
platformdirs==2.6.2
pluggy==1.3.0
prometheus-client==0.16.0
prompt-toolkit==3.0.43
proto-plus==1.23.0
protobuf==4.25.3
psutil==5.9.4
psycopg==3.1.8
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==2.3.0
pydantic-settings==2.1.0
pydantic_core==2.6.3
Pygments==2.14.0
PyJWT==2.8.0
pymongo==4.3.3
pyparsing==3.1.1
pyrsistent==0.19.3
PySocks==1.7.1
pytest==7.4.3
pytest-asyncio==0.21.1
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==1.0.0
python-jose==3.3.0
python-json-logger==2.0.4
python-multipart==0.0.6
python-ulid==1.1.0
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.0.0
railway==0.0.4
redis==5.0.1
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rsa==4.9
selenium==4.6.0
Send2Trash==1.8.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
sqladmin==0.15.2
SQLAlchemy==2.0.21
sqlparse==0.4.4
stack-data==0.6.2
starlette==0.27.0
terminado==0.17.1
tinycss2==1.2.1
tomli==2.0.1
tornado==6.2
traitlets==5.9.0
trio==0.22.0
trio-websocket==0.9.2
twilio==7.15.0
types-pyOpenSSL==23.2.0.2
types-redis==4.6.0.3
typing_extensions==4.8.0
tzdata==2023.4
unicorn==2.0.1.post1
uri-template==1.2.0
uritemplate==4.1.1
urllib3==2.1.0
uvicorn==0.23.2
uvloop==0.17.0
vine==5.1.0
virtualenv==20.17.1
virtualenv-clone==0.5.7
visitor==0.1.3
watchfiles==0.20.0
wcwidth==0.2.13
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.0
websockets==11.0.3
Werkzeug==2.2.2
whitenoise==6.4.0
wsproto==1.2.0
WTForms==3.0.1
y-py==0.5.5
yarl==1.9.2
ypy-websocket==0.8.2
zipp==3.17.0
