.main {
    max-width: 450px;
    margin: 2rem auto 0;
}

.uploadfile-form {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 1.5rem;
    border-radius: 0.5rem;
    gap: 1rem;
}

.uploadfile-form-title {
    color: white;
    font-size: 2.5rem;
}

.uploadfile-form-input {
    padding: 0.5rem;
}

.uploadfile-form-btn {
    color: white;
    background-color: #6e0e1a;
    padding: 0.5rem;
    border-radius: 0.5rem;
}